{
	"env": {
		"node": true
	},
	"rules": {
		"comma-dangle": [2, "never"],
		"semi": [2, "never"],
		"quotes": [2, "single", "avoid-escape"],
		"strict": [2, "never"],
		"camelcase": [2, {
			"properties": "never"
		}],
		"no-multi-spaces": [0],
		"no-mixed-spaces-and-tabs": [2, "smart-tabs"]
	}
}
